@model Proyecto_Tienda_Malena.Models.Productos

@{
    ViewBag.Title = "Create";
}
<hr>
<hr>
<hr>
<hr>
<br>
<br>
<br>


<div class="container text-center form">

    @using (Html.BeginForm("Create", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row form-body">
            <div class="col">
                <h2>Agregar Producto</h2>
                <h4 class="mensaje-error">@ViewBag.ErrorRegistro</h4>
            </div>
        </div>
        <div class="row  form-body">
            <div class="col">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <label>ID de la Categoria</label>
                @Html.DropDownList("ID_Categoria", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Categoria, "", new { @class = "text-danger" })

                <label>ID de la Marca</label>
                @Html.DropDownList("ID_Marca", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Marca, "", new { @class = "text-danger" })


                <label>Nombre</label>
                @Html.EditorFor(model => model.Nombre_Producto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_Producto, "", new { @class = "text-danger" })


                <label>Imagen</label>
                <input type="file" name="imageload" />
                @Html.ValidationMessageFor(model => model.Imagen_Producto, "", new { @class = "text-danger" })

            </div>
            <div class="col">
                <label>Descripcion</label>
                @Html.EditorFor(model => model.Descripcion_Producto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion_Producto, "", new { @class = "text-danger" })


                <label>Cantidad</label>
                @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })


                <label>Precio</label>
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })


                <label>Descuento</label>
                @Html.EditorFor(model => model.Descuento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descuento, "", new { @class = "text-danger" })


                <label>Destacado</label>
                <div class="checkbox">
                    @Html.EditorFor(model => model.Destacado)
                    @Html.ValidationMessageFor(model => model.Destacado, "", new { @class = "text-danger" })
                </div>


            </div>
        </div>



        <div class="row form-body">
            <div class="col">
                <button class="btn btn-danger">@Html.ActionLink("Cancelar", "Index")</button>
                <button class="btn btn-success">Agregar</button>
            </div>
        </div>



    }


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>
