@model Proyecto_Tienda_Malena.Models.Productos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destacado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destacado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorias.Nombre_Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.Nombre_Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marcas.Nombre_marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marcas.Nombre_marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Producto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
