@model IEnumerable<Proyecto_Tienda_Malena.Models.Productos>


@{
    ViewBag.Title = "Home Page";
}





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    <h4>Productos</h4>
    <br />
    <br />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Categoria", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Nombre", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Genero", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Genero", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>

    




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
        }
   



        <div class="categorias">
            <div class="col-12 centrar">
                <h2>Productos Encontrados</h2>
            </div>



            <div class="col-12 categorias-productos slider owl-carousel">

                @foreach (var item in Model)
                {

                    {
                        <article class="col-4">
                            <div class="Producto Prodcto-categorias">
                                <img src="@Url.Action("getImage", "Productos", new {id= item.ID_Producto})" class="card-img-top" alt="..." />

                                <div class="container Producto-info">
                                    <div class="row text-center">
                                        <div class="col" id="titulo"><a>@Html.ActionLink(item.Nombre_Producto, "Details", new { id = item.ID_Producto })</a></div>
                                    </div>
                                    <div class="row text-center">
                                        @if (item.Descuento > 0 && item.Descuento != null)
                                        {

                                            var descuento = item.Precio * item.Descuento / 100;
                                            var precioFinal = item.Precio - descuento;


                                            <div class="col" id="precio">Descuento Aplicado: ₡@precioFinal</div>
                                        }
                                        else
                                        {
                                            <div class="col" id="precio">Precio: ₡@item.Precio</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                }
            </div>
        </div>

        </table>




